.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

/src/chatranslate-8e07b68822a3.json
/functions/mailgun.config.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
