@font-face {
  font-family: 'montBold';
  src: url('./assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf');
  src: url('./assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montBoldItalic';
  src: url('./assets/fonts/Montserrat_Alternates/MontserratAlternates-BoldItalic.ttf');
  src: url('./assets/fonts/Montserrat_Alternates/MontserratAlternates-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montItalic';
  src: url('./assets/fonts/Montserrat_Alternates/MontserratAlternates-Italic.ttf');
  src: url('./assets/fonts/Montserrat_Alternates/MontserratAlternates-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montReg';
  src: url('./assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf');
  src: url('./assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'openReg';
  src: url('./assets/fonts/Open_Sans/OpenSans-Regular.ttf');
  src: url('./assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'openItalic';
  src: url('./assets/fonts/Open_Sans/OpenSans-Italic.ttf');
  src: url('./assets/fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}