html {
	font-size: 62.5%;
}

body {
	@include font-size(16);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $openReg;
}

h1, h2 {
	font-family: $montReg;
	font-weight: normal;
}

h3, h4, h5, h6 {
	font-weight: normal;
}

p {
	line-height: 1.2;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bold {
	font-family: $montBold;
}

sup {
	font-size: 60%;
}